body {
	background-color: #dedede;
}
#content {
	display: flex;
	max-width: 50%;
	flex-wrap: wrap;
	margin: auto auto;
	padding: 5px;
	height: auto;
	flex-direction: row;
	justify-content: center;
	align-content: flex-start;
	/*border: 1px solid red;*/
	min-width: 245px;
}

.capa {
	margin: 5px;
	height: 340px;
	width: 245px;
	overflow: hidden;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1%;
}

.capa img {
	width: 100%;
	transition: 0.3s;
	position: relative;
}

.capa img:hover {
	transform: scale(1.05);
	/*filter: blur(0.5px);*/
	cursor: pointer;
}

#menu-sinopse {
	position: fixed;
	border-radius: 1%;
	align-content: center;
	flex-direction: column;
	padding: 50px 20px;
	transform: translateY(-50%);
	top: 50%;
	display: flex;
	height: auto;
	width: 40%;
	background-color: black;
	color: white;
}

#menu-sinopse {
	display: none;
}

#titulo-sinopse {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #171717;
}

#fechar-sinopse {
	margin-left: auto;
	display: flex;
	justify-content: center;
	margin-top: -30px;
	/*border: 1px solid red;*/
	width: 10px;
	padding: 5px;
	cursor: pointer;
}

.capa h2, .capa p {
	display: none;
}