/*box que envolve o formulario*/
body {
	background-color: #efefef;
}

#content {
	position: absolute;
	width: 100%;
	height: calc(100% - 70px);
	align-items: center;
	border: 1px solid red;
	display: flex;
	justify-content: center;

}

#box-login {
	background-color: #efefef;
	max-width: 350px;
	max-height: 450px;
	/*border: 1px solid black;*/
	border-radius: 1%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/*header*/
#topo-login {
	color: #fff;
	text-align: center;
	padding: 20px;
	/*border-bottom: 1px solid black;*/
	background-color: #3C74A6;
}

/*body*/
#body-login {
	padding: 50px 20px;
}

/*footer*/
#rodape-login {
	padding: 20px 20px 0 20px;
}

/*classe que agrupa os elementos*/
.box {
	margin-bottom: 20px;
	/*border: 1px solid red;*/
}

.box-flex {
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
	margin-bottom: 20px;
	/*border: 1px solid red;*/
}

#box-login a {
	color: #3C74A6;
	text-decoration: none;
}

#box-login a:hover {
	text-decoration: underline;
}

#box-login a:link {
	color: rgb(0, 0, 238);
}

#email, #senha {
	margin-top: 5px;
	font-size: 15px;
	box-sizing: border-box;
	padding: 0 5px;
}

#btn-entrar {
	padding: 10px 30px;
	float: right;
	position: relative;
	right: -10px;
}

#manter-conectado {
	display: inline-block;
}

#cadastrar {
	font-size: 12px;
}

#topo-login {
	font-size: 20px;
}

label[for=email], label[for=senha] {
	font-weight: bold;
}