*, body {
	padding: 0;
	margin: 0;
}

.menu ul {
	list-style: none;
}
.menu ul li {
	float: left;
}

.menu a {
	padding: 15px;
	display: block;
	text-align: center;
}

.menu ul ul {
	visibility: hidden;
}

.menu ul li:hover ul {
	visibility: visible;
}

.menu ul ul li {
	float: none;
}