@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

*, body {
	padding: 0;
	margin: 0;
	/*opcoes de fonte*/
	font-family: 'Lato', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
}